@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200,600&family=Indie+Flower&display=swap');

:root{
    --positiveSlogan: #D88C9A;
    --positiveSloganBackground: rgba(100, 100, 100, 0.4); 
}



.nav-item, h2 {
    font-family: 'Dosis', sans-serif;
}

div > p {
    font-family: 'Indie Flower', cursive;
}

/* my daily lift */

h2, p {
    text-align: center;
}
.checklist-container {
    font-family: 'Indie Flower', cursive;
    text-align: center;
    background-color: aquamarine;
    margin: 50px;
    padding: 20px;
    width: 50%;
}

/* Home Page (Rob) */ 

nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.site-name{
    padding:0 10px;
}

nav > ul {
    margin: 0;
    padding: 0;
    margin-top: 5px;
}

.menu{
    display: flex;
    justify-content: space-evenly;
    font-size: 100%;
    list-style-type: none;
    letter-spacing: 2px;
}

.menu li{
    margin: 10px 15px;
}

.menu a{
    text-decoration: none;
    color: inherit;
}

.menu a:hover{
    background-color:var(--hoverNavBackground);
    border-bottom: 1px solid var(--navBarUnderline);
}

.home-hero-outer{
    position: relative;
}

.positive-slogan{
    position: absolute;  
    left: 50%;
    top: 10%;       
    transform: translate(-50%, -50%);

    white-space: nowrap;
    color: var(--positiveSlogan);
    font-weight: 200;
    background-color: var(--positiveSloganBackground);
    padding: 5px;
}

.home-hero-image{
    width: 100%;
    height: auto;
    object-fit: cover;
}